.container-info {
  position: relative;
  text-align: center;
  color: white;
}

.background-info {
  color: black;
  border: 1px solid black;
  margin: 0 10%;
  background-color: lightyellow;
}


.image-info {
  width: 30%;
  height: 30vw;
  object-fit: cover;
  padding: 2%;
}
