.lunch-container-végés {
  width: 100%;
  display: flex;
  margin: 5% 0;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: #f7f7f7;
}

.végés-japanese {
  position: relative;
  left: 27%;
}

.image-container-végés {
  position: static;
  overflow: hidden;
}

.menus-végés {
  width: 100%; /* Assurez-vous que l'image remplit complètement son conteneur */
  display: block;
}

.végés-title {
  text-align: end;
}

.végés-overlay {
  position: absolute;
  background: yellow;
  top: 52%; /* Place le contenu au centre vertical de l'image */
  right: 80%; /* Place le contenu au centre horizontal de l'image */
  transform: translate(-10%, -39%);
  text-align: center;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  padding: 40px 40px;
}
